{% extends "cocktails/base.html" %}
{% load widget_tweaks %}

{% block bodyblock %}
  <div clas="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-10">
        <h1>Log In</h1>
        <p>Not  a member? <a href="{% url 'registration_register' %}">Register</a>!</p>
      </div>
    </div>
    {% if form.errors or form.non_field_errors %}
      <div class="alert alert-block alert-error fade in">
        <p><strong>Oops! There were errors processing your form.</strong></p>
        {% if form.non_field_errors %}
          <ul>
            {{ form.non_field_errors|unordered_list }}
          </ul>
        {% endif %}
      </div>
    {% endif %}
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
      {% for field in form %}
        <fieldset class="form-group {% if field.errors %}error{% endif %}">
          <label for="{{ field.auto_id }}">{{ field.label }}</label>
            {{ field|add_class:"form-control" }}

            {% if field.errors %}
              <span class="help-inline">{{ field.errors|striptags }}</span>
            {% endif %}
          </div>
        </fieldset>
      {% endfor %}

      <p><a href="{% url 'registration_register' %}">Need an account</a>?</p>
      <input type="submit" class="btn" value="Login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>

{% endblock %}