#recipe_container {
        margin: 0px;
        padding: 0px;
      }
      .diff {
        background-color:cadetblue;
      }
      p.tiny {
        font-size:xx-small;
      }

      p#groupdescription {
        font-weight: bold;
      }