#recipe_container {
    margin: 0px;
    padding: 0px;
}

.diff {
background-color:cadetblue;
}

p.tiny {
font-size:xx-small;
}

p#groupdescription {
font-weight: bold;
}

.form_inherit {
    font-family : inherit;
    font-size: 100%;
    width: 100%;
}

.char_field {
    border:none;
    background-color:transparent;
    outline:none;
}

.formfield:focus, .formfield:hover{
    outline:none;
    background-color: darkseagreen;
}