{% extends 'cocktails/base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block headfirst %}{% endblock %}

{% block headlast %}
  <link rel="stylesheet" type="text/css" href="{% static 'cocktails/css/recipegroup.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'cocktails/css/cocktailform.css' %}">

{% endblock %}

{% block title %}New Cocktail{% endblock %}

{% block bodyblock %}
    <form id="cocktail_form" method="post" action="/cocktails/addcocktail/">
      {% csrf_token %}
      {{ cocktailform.non_field_errors }}
      {% for hidden in cocktailform.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      <h1 id="groupname">
        {{ cocktailform.name|add_class:"form_inherit char_field"|attr:"placeholder:Cocktail Name"}}
      </h1>

      {{ cocktailform.name.errors }}

      <p id="groupdescription">
        {{ cocktailform.description.errors }}
        {{ cocktailform.description|add_class:"form_inherit char_field"|attr:"rows:2"|attr:"placeholder:Short Description"}}
      </p>
      <div id="recipe_container">
        {% with 'cocktails/recipeform.html' as template %}
          {% include template %}
        {% endwith %}
      </div>
      <input type="submit" name="submit" value="Create Category" />
    </form>


{% endblock %}

{% block scripts %}
<script>

function loadRecipeForm(slug, callback) {
      $("#recipe_container").html('').load(
        '/cocktails/'+ slug + '/add_or_edit_recipe/', function() {
            if(callback) {
                callback();
            }
        });
    }

  $(document).ready(function() {


  loadRecipeForm()
  })



  </script>
{% endblock %}