{% extends 'cocktails/base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}
{% load cocktails_extras %}

{% block headfirst %}{% endblock %}

{% block headlast %}
  <link rel="stylesheet" type="text/css" href="{% static 'cocktails/css/recipe_page.css' %}">

{% endblock %}

{% block title %}New Cocktail{% endblock %}

{% block side_block %}
  {% get_cocktail_list user_directory=user_directory %}
{% endblock %}
{% block bodyblock %}
    <form id="cocktail_form" method="post" action="/{{ user_directory }}/cocktails/addcocktail/">
      {% csrf_token %}
      {{ cocktail_form.non_field_errors }}
      {% for hidden in cocktail_form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      {% render_field cocktail_form.username type='hidden' value=user_directory %}
      <h1 id="groupname">
        {{ cocktail_form.name|add_class:"form_inherit char_field"|attr:"placeholder:Cocktail Name"}}
      </h1>

      {{ cocktail_form.name.errors }}

      <p id="groupdescription">
        {{ cocktail_form.description.errors }}
        {{ cocktail_form.description|add_class:"form_inherit char_field"|attr:"rows:2"|attr:"placeholder:Short Description"}}
      </p>
      <div id="recipe_container">
        {% with 'cocktails/inner_recipe_form.html' as template %}
          {% include template %}
        {% endwith %}
      </div>
      <input type="submit" class="btn" name="submit" value="Add Cocktail" />
    </form>


{% endblock %}

{% block scripts %}
  <script src="{% static 'cocktails/js/control_functions.js' %}"></script>
  <script src="{% static 'cocktails/js/jquery.elastic.source.js' %}"></script>
  <script src="{% static 'cocktails/js/cocktail_form.js' %}"></script>
{% endblock %}