<!DOCTYPE html>

{% load staticfiles %}
{% load widget_tweaks %}

<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'cocktails/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'cocktails/css/recipegroup.css' %}">
    <script src="{% static 'cocktails/js/jquery-1.12.1.js' %}"></script>
    <script src="{% static 'cocktails/js/load_and_compare_recipes.js' %}"></script>
    <style>
      .form_inherit {
        font-family : inherit;
        font-size: 100%;
        -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
            -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
                  box-sizing: border-box;
      }
      .char_field:focus {
        outline:none;
}
    </style>
    <title>Cocktail</title>
  </head>

  <body>

    <form id="cocktail_form" method="post">
      {% csrf_token %}
      <h1>{{ form.name|add_class:"form_inherit char_field" }}</h1>
      <input type="submit" name="submit" value="Create Category" />
    </form>

    <script src="{% static 'cocktails/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>

</html>