{% extends 'cocktails/base.html' %}

{% load staticfiles %}
{% load cocktails_extras %}

{% block headfirst %}{% endblock %}

{% block headlast %}
  <link rel="stylesheet" type="text/css" href="{% static 'cocktails/css/recipe_page.css' %}">
{% endblock %}

{% block title %}{{ group.name }}{% endblock %}


{% block bodyblock %}
<h1>{{ user_directory }}'s Cocktails</h1>
  <table class="table table-hover">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Recipes</th>
    </thead>
    <tbody>
      {% for cocktail in cocktails %}
        <tr href="{% url 'cocktails:cocktail' user_directory=user_directory cocktail_slug=cocktail.slug %}">
          <td>
          {{ cocktail.name }}
          </td>
          <td>
            {{ cocktail.description }}
          </td>
          <td>
            {{ cocktail.recipes }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a class="btn" href="{% url 'cocktails:directory_list' %}" role="button">Back to Public Collections</a>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function() {
    $('tr').click(function() {
      window.document.location = $(this).attr('href')
    })
  })
</script>
{% endblock %}

