{% load widget_tweaks %}

<h2>
  <table>
    <tr>
      <td>Recipe {{ rank }} - </td>
      <td>{{ recipe_form.label|add_class:"form_inherit char_field recipe_label"|attr:"placeholder:Recipe Label" }}</td>
    </tr>
  </table>
</h2>

{{ recipe_form.errors }}
<div id="recipe-table-container">
  <table class="table">
    <thead>
      <th>Amount</th>
      <th>Ingredient</th>
    </thead>
    <tbody id="recipe-body">
      {{ entry_formset.management_form }}
      {{ entry_formset.non_form_errors }}
      {% for entry in entry_formset %}
        <tr class="recipe-entry">
          <td class="entry-data amount">
            {{ entry.amount|add_class:"form_inherit char_field entry_form" }}
            {{ entry.amount.errors }}
          </td>
          <td class="entry-data ingredient">
            {{ entry.ingredient|add_class:"form_inherit char_field entry_form" }}
            {{ entry.ingredient.errors }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="button" class="btn" id="add_entry">Add Entry</button>
  <button type="button" class="btn" id="remove_entry">Remove Entry</button>
</div>

<p id="recipe_directions">
  {{ recipe_form.directions.errors }}
  {{ recipe_form.directions|add_class:"form_inherit char_field"|attr:"rows:4"|attr:"placeholder:Directions . . . "}}
</p>

<h4>Notes</h4>
<p id="recipe_directions">
  {{ recipe_form.directions.errors }}
  {{ recipe_form.directions|add_class:"form_inherit char_field"|attr:"rows:4"|attr:"placeholder:Notes . . . "}}
</p>