{% extends 'cocktails/base.html' %}

{% load staticfiles %}

{% block headfirst %}{% endblock %}

{% block headlast %}
  <link rel="stylesheet" type="text/css" href="{% static 'cocktails/css/recipegroup.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'cocktails/css/cocktailform.css' %}">
{% endblock %}

{% block title %}{{ group.name }}{% endblock %}

{% block bodyblock %}
  {% if group %}
    <h1 id="groupname">{{ group.name }}</h1>
    <p id="groupdescription">{{ group.description }}</p>
    <button class="btn" id="previous">Previous</button>
    <button class="btn" id="next">Next</button>
    <button class="btn" id="add_recipe">Add another</button>
    <div id="recipe_container" data-group={{ group.slug }} data-reciperank={{ reciperank }} data-recipes={{ recipes }}>
      {% with 'cocktails/recipe.html' as template %}
        {% include template %}
      {% endwith %}
    </div>
  {% else %}
    The specified {{ type }} does not exist!
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'cocktails/js/load_and_compare_recipes.js' %}"></script>
{% endblock %}