{% if recipe %}
  <h2>Recipe {{ recipe.rank }} - {{ recipe.label }}</h2>
  {% if ingredients %}
    <table class="table">
      <thead>
        <th>Amount</th>
        <th>Ingredient</th>
      </thead>
      <tbody>
        {% for entry in ingredients %}
          <tr class="recipe-entry">
            <td class="entry-data">{{ entry.amount }}</td>
            <td class="entry-data">{{ entry.ingredient.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    There are no ingredients in this recipe!
  {% endif %}
  <p>Directions: {{ recipe.directions }}</p>
  <p>Notes: {{ recipe.notes }}</p>
{% else %}
  You haven't added any recipes yet!
{% endif %}