{% if recipe %}
  <h2>
    <table>
      <tr>
        <td>Recipe {{ recipe.rank }}:&nbsp</td>
        <td id="recipe_label">{{ recipe.label }}</td>
        <td style="padding-left:8%"><button class="btn" id="set_comparison">Compare</button></td>
      </tr>
    </table>
  </h2>
  {% if ingredients %}
    <div id="recipe-table-container">
      <table class="table">
        <thead>
          <th>Amount</th>
          <th>Ingredient</th>
        </thead>
        <tbody id="recipe-body">
          {% for entry in ingredients %}
            <tr class="recipe-entry">
              <td class="entry-data amount">
                {{ entry.amount }}
              </td>
              <td class="entry-data ingredient">
                {{ entry.ingredient.name }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    There are no ingredients in this recipe!
  {% endif %}

  <p id="recipe_directions">{{ recipe.directions }}</p>
  <h4>Notes:</h4>
  <p id="recipe_notes">{{ recipe.notes }}</p>
{% else %}
  You haven't added any recipes yet!
{% endif %}