<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Cocktail</title>
    <style>
      #recipe_container {
        margin: 0px;
        padding: 0px;
      }
    </style>
  </head>

  <body>

    {% if group %}
      <h1>{{ group.name }}</h1>
      <h4>Description: {{ group.description }}</h4>
      <div id="recipe_container">
        {% if recipe %}
        <h2>Recipe {{ recipe.rank }} - {{ recipe.label }}</h2>
        {% if ingredients %}
          <table class="table">
            <thead>
              <th>Amount</th>
              <th>Ingredient</th>
            </thead>
            <tbody>
              {% for entry in ingredients %}
                <tr>
                  <td>{{ entry.amount }}</td>
                  <td>{{ entry.ingredient.name }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          There are no ingredients in this recipe!
        {% endif %}
      </div>
        <p>Directions: {{ recipe.directions }}</p>
        <p>Notes: {{ recipe.notes }}</p>
      {% else %}
        There are no recipes for this {{ type }}!
      {% endif %}
    {% else %}
      The specified {{ type }} does not exist!
    {% endif %}
  </body>

</html>